<% if (contentFor === 'head') { %>
    <title><%= tr('.title') %></title>
    <%= includeJavascripts('home') %>
    <%= includeStylesheets('home') %>
<% } else { %>
    <div id="home">
        <h1><%= tr('.title') %></h1>
        <p>
           <%= tr('.randomNumberIs', this.randomNumber) %>"
        </p>
    </div>
<% } %>
